# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Entorno virtual
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/
vapid_keys.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
